div{
    background-color: antiquewhite;
    padding: 10px;
/* border:solid 20px rgb(18, 65, 167); */
margin-top: 10px;

}
img{
    max-width: 200%;
    height:200%;
    width: 100%;;
    display: block;
    margin: 0 auto;
   
    
}
.biltu{
    font-size: x-larges;
    color: crimson;
    
}
.biltus{
    font-style: italic;
}
